table{
    width: 600px;
    border: 1px solid #000;
}

th, td {
    border: 1px solid #000;
}

table thead{
    background-color: #00ff00;
}

table tbody {
    background-color: #ff0000;
}

tbody tr:hover{
    background-color: #EEE;
}